.nav li{
    display: inline-block;
    text-align: center;
    padding: 10px;
}

a,
a:link,
a:visited,
a:active,
a:focus
{
    text-decoration: none;
    font-size: 16px;
    color: black;
}

a:hover{
    text-decoration: underline;
    color: rgb(66, 148, 66);
    font-size: 16px;
    background-color: rgb(51, 51, 51);
}

.back-image{
    background-image: url(../img/mountains.png);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative; /*center부터 줌*/
}

.image-title{
    color: rgb(54, 85, 54);
    font-size: 20px;
    position: relative;
    left: 110px;
    top: 50px;
}

.image-content{
    color: rgb(112, 172, 112);
    font-size: 24px;
    position: relative;
    left: 100px;
    margin-top: 50px;
}

.image-con{
    color: rgb(54, 85, 54);
    font-size: 20px;
    position: relative;
    left: 110px;
    margin-top: -13px
}

.image-button{
    /*
    position: relative; [원래 내 위치를 기준으로 이동]
    position: absolute; [(relative인)부모를 기준으로 이동]

    */
    position: absolute;
    left: 10%;
    border-radius: 5px;
    a:hover{
        text-decoration: underline;
        color: white;
        font-size: 16px;
        background-color: rgb(10, 56, 13);
    }
}